<!-- $Id: color_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class="main-div">
<form method="post" action="color.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">{$lang.color_name}</td>
    <td><input type="text" name="color_name" maxlength="60" value="{$color.color_name}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.color_alias}</td>
    <td><input type="text" name="color_alias" maxlength="2" value="{$color.color_alias}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.color_r}</td>
    <td><input type="text" name="color_r" maxlength="3" size="15" value="{$color.color_r}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.color_g}</td>
    <td><input type="text" name="color_g" maxlength="3" size="15" value="{$color.color_g}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.color_b}</td>
    <td><input type="text" name="color_b" maxlength="3" size="15" value="{$color.color_b}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.sort_order}</td>
    <td><input type="text" name="sort_order" maxlength="40" size="15" value="{$color.sort_order}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.is_show}</td>
    <td><input type="radio" name="is_show" value="1" {if $color.is_show eq 1}checked="checked"{/if} /> {$lang.yes}
        <input type="radio" name="is_show" value="0" {if $color.is_show eq 0}checked="checked"{/if} /> {$lang.no}
        ({$lang.visibility_notes})
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="old_colorname" value="{$color.color_name}" />
      <input type="hidden" name="old_coloralias" value="{$color.color_alias}" />
      <input type="hidden" name="id" value="{$color.color_id}" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['color_name'].focus();
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("color_name",  no_colorname);
    validator.required("color_alias",  no_coloralias);
    validator.isNumber("sort_order", require_num, true);
    return validator.passed();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}